.preview{
	padding: 0 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 33%;
	margin: 25px 0 25px 0;
	align-self: flex-start;

}

.previewLink{
	width: 100%;
	background-color: #eee;
}

.previewImageWrapper{
	overflow: hidden;
	text-align: center;
	padding-top: 20px;
}

.previewImage{
	max-height: 350px;
}

.previewName{
	text-align: center;
	font-size: 24px;
	padding: 5px 0;
}